<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.1.v20171221-bd47e8f"/>
			<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="h2.feature.group" version="1.4.197"/>
			<unit id="h2.source.feature.group" version="1.4.197"/>
			<repository location="https://dl.bintray.com/simon-scholz/H2-Database-Engine/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.nebula.widgets.pshelf.css.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.pshelf.feature.feature.group" version="1.0.0.201804281520"/>
			<repository location="http://download.eclipse.org/nebula/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181031-1210"/>
			<unit id="org.eclipse.sdk.ide" version="4.10.0.I20181031-1800"/>
			<repository location="http://download.eclipse.org/releases/2018-12"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="Project-Reactor.feature.group" version="3.1.5"/>
			<unit id="Project-Reactor.source.feature.group" version="3.1.5"/>
			<unit id="Retrofit.feature.group" version="2.4.0"/>
			<unit id="Retrofit.source.feature.group" version="2.4.0"/>
			<unit id="jcommander.feature.group" version="1.71.0"/>
			<unit id="jcommander.source.feature.group" version="1.71.0"/>
			<repository location="https://dl.bintray.com/vogellacompany/OpenReq-Eclipse/0.5.0/"/>
		</location>
	</locations>
</target>