<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-06"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.junit.jupiter.api" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0"/>
			<unit id="org.junit.jupiter.engine" version="0.0.0"/>
			<unit id="org.junit.jupiter.params" version="0.0.0"/>
			<unit id="org.junit.jupiter.migrationsupport" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
			<unit id="ca.odell.glazedlists" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="0.0.0"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/17/updates/release"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.minimal.feature.group" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.8.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		
			<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="Maven libraries" missingManifest="generate" type="Maven">

			<feature id="maven.libraries" label="Maven libraries" provider-name="Zak" version="1.0.0.qualifier"/>

			<dependencies>
				<dependency>
					<groupId>ch.qos.logback</groupId>T
					<artifactId>logback-classic</artifactId>
					<version>1.2.11</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.beust</groupId>
					<artifactId>jcommander</artifactId>
					<version>1.82</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.google.code.gson</groupId>
					<artifactId>gson</artifactId>
					<version>2.10.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.itextpdf</groupId>
					<artifactId>io</artifactId>
					<version>7.2.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.itextpdf</groupId>
					<artifactId>kernel</artifactId>
					<version>7.2.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.oracle.database.jdbc</groupId>
					<artifactId>ojdbc11</artifactId>
					<version>21.8.0.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-api</artifactId>
					<version>1.7.36</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.yaml</groupId>
					<artifactId>snakeyaml</artifactId>
					<version>1.33</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<exclude>org.slf4j:slf4j-api:1.7.32</exclude>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="Project Reactor" missingManifest="generate" type="Maven">

			<feature id="projectreactor" label="Project Reactor" version="1.0.0.qualifier"/>
			<dependencies>
				<dependency>
					<groupId>io.projectreactor</groupId>
					<artifactId>reactor-core</artifactId>
					<version>3.5.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="EclipseLink" missingManifest="generate" type="Maven">

			<feature id="eclipselink" label="EclipseLink" version="1.0.0.qualifier"/>

			<dependencies>
				<dependency>
					<groupId>org.eclipse.persistence</groupId>
					<artifactId>org.eclipse.persistence.jpa</artifactId>
					<version>4.0.0</version>
					<type>jar</type>
				</dependency>
				<!--
				
				<dependency>
					<groupId>org.eclipse.persistence</groupId>
					<artifactId>eclipselink</artifactId>
					<version>4.0.0</version>
				</dependency>
-->
			</dependencies>
			<exclude>jakarta.transaction:jakarta.transaction-api:2.0.1</exclude>
			<exclude>org.apache.ant:ant:1.10.12</exclude>
		</location>
		
	</locations>
</target>